<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGNOU - Term End Result</title>
    <meta name="description" content="IGNOU Term End Result">
    <meta name="keywords" content="ignou, result, web app, term end, view result, save result">
    <meta name="author" content="Rishi Giri">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>IGNOU RESULTS</h1>
        <p id="message">View Term End Result of Any Session</p>
        <div id="loader" class="loader"></div>
        <form id="fetchForm">
            <div class="formContainer">
                <div id="date">
                    <select id="month" name="month">
                        <option value="" disabled selected>SELECT MONTH</option>
                        <option value="June">JUNE</option>
                        <option value="Dec">DECEMBER</option>
                    </select>
                </div>
                <div id="years">
                    <select id="year" name="year">
                        <option value="" disabled selected>SELECT YEAR</option>
                    </select>
                </div>
            </div>
            <input type="number" id="enrollment" name="enrollment" placeholder="Enter Your Enrollment Number" inputmode="numeric">
            <button type="submit">SUBMIT</button>
        </form>
        <div id="resultContainer"></div>
        <div id="statusContainer"></div>
        <button id="refreshBtn">REFRESH</button>
        <button id="deleteBtn" class="actionBtn delete">REMOVE</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
